.App {
}

.main {
  padding: 20px;
  overflow:auto

}

.stage {
  width: 49%;
  float: left;

  .ico {
    position: absolute;
    top: 10px;
  }

  /* .left {
    left: 10px;
  }

  .right {
    right: 10px;
  } */
}

/* .vertical-align {
  position: relative;
  margin-top: 20%;
  transform: translateY(-50%);
} */

.card {
  height: 500px;
  overflow: scroll;
}



.divider {
  height: 490px;
  width: 1%;
  margin-top: 5px;
  margin-left: 10px;
  padding-right: 10px;
  float: left;
  border-left: 1px solid grey;
}

.p5 {
  height: 500px;
  width: 49%;
  float: left;
}
